
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="Suftnet">

    <title>Confirmation</title>

    @Styles.Render("~/bundle/slim-lib-css")
    @Styles.Render("~/bundle/slim-css")

    @Scripts.Render("~/bundle/slim-lib-jquery")

</head>
<body>

    <div class="page-error-wrapper">
        <div>            
            <h5 class="tx-sm-24 tx-normal">Delete Confirmation.</h5>
            <p class="mg-b-50">Thanks for trying out Jerur. Your church data and any related infomation has been deleted from our database.<br /> Should you decide to subscribe to Jerur in the near future, you can do so from the home page</p>
            <p class="mg-b-50"><a href="@Url.Action("index","Home", new { area= "" } )" class="btn btn-error">Back to Home</a></p>
            <p class="error-footer">&copy; Copyright 2018. All Rights Reserved. Suftnet</p>
        </div>

    </div><!-- page-error-wrapper -->

    @Scripts.Render("~/bundle/slim-js")

</body>
</html>
