<table id="tblReservation" class="display" style="width:100%">
    <thead>
        <tr>
            <th align="left"></th>
            <th align="left">Date</th>
            <th align="left">Time In</th>
            <th align="left">Table</th>
            <th align="left">Names</th>          
            <th align="left">People</th>
            <th align="left">Status</th>
            <th align="left">Total</th>
            <th align="left">Tax</th>
            <th align="left">Discount</th>
            <th align="left">Grand Total </th>
            <th align="left">Balance </th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="hide">
    <span id="loadReservationUrl" name="loadReservationUrl" data-loadReservationUrl="@Url.Action("fetch", "reservation")"></span>
    <span id="editReservationUrl" name="editReservationUrl" data-editReservationUrl="@Url.Action("edit", "reservation")"></span>
    <span id="cartReservationUrl" name="cartReservationUrl" data-cartReservationUrl="@Url.Action("entry", "cart")"></span>
    <span id="deleteReservationUrl" name="deleteReservationUrl" data-deleteReservationUrl="@Url.Action("delete", "reservation")"></span>
    <span id="createUrl" name="createUrl" data-createUrl="@Url.Action("create", "reservation")"></span>
</div>




