<div id="left_menu">
    <ul id="main_menu" class="main_menu ">  
        <li class="limenu"><a href="@Url.Action("index", "dashBoard")" class="" title="DashBoard"><span class="ico gray shadow home"></span><b>DashBoard</b></a></li>          
        <li class="limenu"><a href="@Url.Action("index", "menu")" class="" title="menu"><span class="ico gray file" ></span><b>Menu</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "table")" class="" title="table"><span class="ico gray spreadsheet"></span><b>Table</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "dashBoard", new { area = "frontoffice" })" class="tooltip" title="Order" ><span class="ico gray shopping_basket"></span><b>Order</b></a></li>   
        <li class="limenu"><a href="@Url.Action("index", "report")" class="" title="Reports"><span class="ico gray record" ></span><b>Reports</b></a></li>                                                 
    </ul>
</div>
          
