@using Suftnet.Cos.Extension;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <title>SUFTNET | BACK OFFICE</title>

    @Html.Partial("_master-header-css")

</head>

<body class="dashborad">
    <div id="alertMessage" class="error"></div>
    <!-- Header -->
    @Html.Partial("_header")
    <!-- End Header -->
    <div id="shadowhead"></div>
    <!-- Menu -->
    @Html.Partial("_menu")
    <!-- End Menu -->

<div id="content">
    <div class="inner">
        <div style="margin-top:20px"></div>
        <div class="clear"></div>

        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_footer")
        <!-- End Footer -->

    </div>
  
    <span style="display :none " id="currencySymbol">@Html.CurrencySymbol()</span>
    <div id="InvoiceDialog">
        <iframe id="ifInvoice" style="width:100%; height:750px"></iframe>
    </div>

</div>

</body>
</html>

@Html.Partial("_init")