@using Suftnet.Cos.Extension

<section class="section">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-3.svg")" class="h-100 absolute left top" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-10 col-lg-4 mx-auto order-md-2">
                <h2>Dashboard</h2>
                <p class="lead text-secondary">Flexible and portable point of sale system.</p>
                <p>The flexibilty of Irit means that from the dashboard you can easily navigate to any key part of the app. Be it Delivery, Reports, application wide Settings and event taking customer orders on the go.  </p>
            </div>
            <div class="col-12 col-lg-6 pl-0 order-md-1">
                <div class="device browser" data-aos="fade-right">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/mobile_dashboard.jpeg")" alt="mobile dashboard" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Analytics -->
<section class="section singl-testimonial">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-1.svg")" class="absolute top right h-100" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-lg-4 mx-auto">
                <h2>Tables</h2>
                <p class="lead text-secondary">Providing customers with slick and organized table arrangement</p>
                <p>Irit provide a slick and organized table arrangement, marking it easy for waiter to take and process table orders, give better visibility of the status.</p>
            </div>
            <div class="col-10 col-lg-6 pr-0">
                <div class="device browser" data-aos="fade-left">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/tables.jpeg")" alt="Tables" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Implementation Counters -->
<section class="section">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-3.svg")" class="h-100 absolute left top" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-10 col-lg-4 mx-auto order-md-2">
                <h2>POS</h2>
                <p class="lead text-secondary">POS on the go, take the business to your customer anywhere, anytime.</p>
                <p>Irit offers all your business needs to start serving your customers and taking payment within minute of signin up. Order items can be scanned or added manual to cart, optional tax or discount can be applied
                and the bill calculated automatically. Freeing your employee to take up other responsibilty</p>
            </div>
            <div class="col-12 col-lg-6 pl-0 order-md-1">
                <div class="device browser" data-aos="fade-right">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/Shopping.jpeg")" alt="Shopping" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Analytics -->
<section class="section singl-testimonial">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-1.svg")" class="absolute top right h-100" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-lg-4 mx-auto">
                <h2>Payment</h2>
                <p class="lead text-secondary">Irit offers contactless and cash payment options.</p>
                <p>Customers at the point of sales can either pay through contactless or hand over cash for their purchases. Irit support range of contactless terminals including izettle, myPos and ingenico.</p>
            </div>
            <div class="col-10 col-lg-6 pr-0">
                <div class="device browser" data-aos="fade-left">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/payment.jpeg")" alt="Payment" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Implementation Counters -->
<section class="section">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-3.svg")" class="h-100 absolute left top" alt="Kitchen"></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-10 col-lg-4 mx-auto order-md-2">
                <h2>Kitchen</h2>
                <p class="lead text-secondary">Irit offers intuitve Kitchen dashboard for orders </p>
                <p>Ordered items placed by waiters or directly by customers through Irit lite and maked for kitchen will be display on the kitchen dashboard. Employee can optional print order ticket to kitchen printer for easy of processing.  </p>
            </div>
            <div class="col-12 col-lg-6 pl-0 order-md-1">
                <div class="device browser" data-aos="fade-right">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/kitchen.jpeg")" alt="kitchen" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Analytics -->
<section class="section singl-testimonial">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-1.svg")" class="absolute top right h-100" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-lg-4 mx-auto">
                <h2>Report</h2>
                <p class="lead text-secondary">Decision and Analysis at your fingertips</p>
                <p>Irit offers fully comprehensive report suits for making faster and better business decisions. The reporting tools gives you the visibility and analysis into every section of your business, be it menu inventory, real time payments and order transactions
                thay are avaialable at your fingertips, anywhere at anytime 24/7.</p>
            </div>
            <div class="col-10 col-lg-6 pr-0">
                <div class="device browser" data-aos="fade-left">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/report.jpeg")" alt="Reports" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Implementation Counters -->
<section class="section">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-3.svg")" class="h-100 absolute left top" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center text-center text-lg-left">
            <div class="col-10 col-lg-4 mx-auto order-md-2">
                <h2>Orders</h2>
                <p class="lead text-secondary">Managing and tracking orders can never be this simple.</p>
                <p>Irit provide the facilites for managing and tracking customer orders for quick and efficient services. Order status are color coded , giving employee the visibilty as to where the order is in the processing pipeline and where necessary response to any delay in serving the customers. </p>
            </div>
            <div class="col-12 col-lg-6 pl-0 order-md-1">
                <div class="device browser" data-aos="fade-right">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/orders.jpeg")" alt="Orders" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Analytics -->
<section class="section singl-testimonial">
    <div class="shape-wrapper"><img src="@Url.FrontOfficeImagePath("img/shps/abs-shp-1.svg")" class="absolute top right h-100" alt="..."></div>
    <div class="container-wide bring-to-front">
        <div class="row gap-y align-items-center">
            <div class="col-12 col-lg-4 mx-auto">
                <h2>Delivery Orders</h2>
                <p class="lead text-secondary">Drive more sales and revenue by connecting to Irit lite.</p>
                <p>Irit lite is an app built for customers to make order anywhere at anytime thereby increasing sales and revenues. Orders received from Irit lite are processed in Irit POS in an efficient fashion and order staus is sent to customer
                to alert where their order is in the delivery pipeline. </p>
            </div>
            <div class="col-10 col-lg-6 pr-0">
                <div class="device browser" data-aos="fade-left">
                    <div class="screen"><img src="@Url.Content("~/Content/frontoffice-2/img/irit/delivery_orders.jpeg")" alt="Delivery orders" class="img-responsive shadow"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Implementation Counters -->