@using Suftnet.Cos.Extension
@model LoginModel

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6 col-lg-7 fullscreen-md d-flex justify-content-center align-items-center overlay gradient gradient-purple-navy alpha-7 image-background cover" style="background-image:url(https://picsum.photos/1920/1200/?random&gravity=south)">
            <div class="content">
                <h2 class="display-4 display-md-3 text-contrast mt-4 mt-md-0">Welcome to <span class="bold d-block">Irit</span></h2>                         
            </div>
        </div>
        <div class="col-md-5 col-lg-4 mx-auto">
            <div class="login-form mt-5 mt-md-0">
                <img src="@Url.FrontOfficeImagePath("img/logo.png")" class="logo img-responsive" alt="">
                <h1 class="text-darker bold">Login</h1>
                <p class="text-secondary mt-0">Or To return back to home page<a href="@Url.Action("index","home")" class="text-primary bold"> click here</a></p>
                <form class="cozy" action="@Url.Action("login","Account")" method="post" accept-charset="UTF-8" id="form-login">

                    @Html.AntiForgeryToken()
                  
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger center" })
                    </div>

                    <label class="control-label bold small text-uppercase text-secondary">Username</label>
                    <div class="form-group has-icon">
                        @Html.TextBoxFor(x => x.Username, new { maxlength = 50, placeholder = "Enter your username", @class = "form-control form-control-rounded", required = "" })
                        <i class="icon fas fa-envelope"></i>
                    </div>
                    <label class="control-label bold small text-uppercase text-secondary">Password</label>
                    <div class="form-group has-icon">
                        @Html.PasswordFor(x => x.Password, new { maxlength = 20, placeholder = "Enter your password", @class = "form-control form-control-rounded", required = "" })
                        <i class="icon fas fa-lock"></i>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between">
                        <a href="@Url.Action("forgotten","account")" class="text-warning small">Forgot your password?</a>
                        <div class="ajax-button">
                            <button type="submit" class="btn btn-primary btn-rounded">
                                Login
                                <i class="fas fa-long-arrow-alt-right ml-2"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/css/validationSummary.css" rel="stylesheet" />