@using Suftnet.Cos.Extension;
@using Suftnet.Cos.Common
@model Suftnet.Cos.Web.StripeAdapterModel

<div class="slim-mainpanel">
    <div class="container">

        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("index","dashboard", new { area ="subscription" } )">Dashboard</a></li>               
                <li class="breadcrumb-item active" aria-current="page">Plans</li>
            </ol>
            <h6 class="slim-pagetitle">Subscription Plans</h6>
        </div><!-- slim-pageheader -->
        
        <div class="row row-sm">
       
            <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-pricing-two">
                    <h6 class="pricing-title">Basic</h6>
                    <h1 class="pricing-price">@Constant.CurrencySymbol@Html.AmountToZeroDecimal(Model.PlanFeatureAdapter.Plan.BasicPrice)</h1>
                    <p class="mg-b-25">per month</p>

                    <ul class="pricing-list">

                    @foreach (var plan in Model.PlanFeatureAdapter.PlanFeature)
                    {
                        if (!string.IsNullOrEmpty(plan.BasicValue))
                        {
                            <li>@plan.Feature - @plan.BasicValue</li>
                        }
                        else
                        {
                            if (plan.Basic == "Yes")
                            {
                                <li>@plan.Feature</li>
                            }
                            else
                            {
                                <li><i class="icon ion-close"></i></li>
                            }
                        }
                    }

                    </ul><!-- pricing-list -->

                   @if (Model.Tenant.PlanTypeId != Plans.Basic)
                   {
                        <a href="@Url.Action("entry","paymentCard", new { area = "subscription", planTypeId = Plans.Basic })" class="btn btn-primary btn-pricing">Select</a>
                   }                   

                </div><!-- card-pricing-two -->
            </div><!-- col -->              
        
            <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-pricing-two">
                    <h6 class="pricing-title">Premium</h6>
                    <h1 class="pricing-price">@Constant.CurrencySymbol@Html.AmountToZeroDecimal(Model.PlanFeatureAdapter.Plan.AdvancePrice)</h1>
                    <p class="mg-b-25">every 6 months</p>

                    <ul class="pricing-list">

                    @foreach (var plan in Model.PlanFeatureAdapter.PlanFeature)
                    {
                        if (!string.IsNullOrEmpty(plan.PremiumValue))
                        {
                            <li>@plan.Feature - @plan.PremiumValue</li>
                        }
                        else
                        {
                            if (plan.Advance == "Yes")
                            {
                                <li>@plan.Feature</li>
                            }
                            else
                            {
                                <li><i class="icon ion-close"></i></li>
                            }
                        }
                    }

                    </ul><!-- pricing-list -->

                    @if (Model.Tenant.PlanTypeId != Plans.Premium)
                    {
                        <a href="@Url.Action("entry","paymentCard", new { area = "subscription", planTypeId = Plans.Premium })" class="btn btn-primary btn-pricing">Select</a>
                    }  
                    
                </div><!-- card-pricing-two -->
            </div><!-- col -->        

            <div class="col-lg-4 mg-t-20 mg-lg-t-0">
                <div class="card card-pricing-two">
                    <h6 class="pricing-title">Premium Plus</h6>
                    <h1 class="pricing-price">@Constant.CurrencySymbol@Html.AmountToZeroDecimal(Model.PlanFeatureAdapter.Plan.ProfessionalPrice)</h1>
                    <p class="mg-b-25">every 1 year</p>

                    <ul class="pricing-list">

                    @foreach (var plan in Model.PlanFeatureAdapter.PlanFeature)
                    {
                        if (!string.IsNullOrEmpty(plan.PremiumPlusValue))
                        {
                            <li>@plan.Feature - @plan.PremiumPlusValue</li>
                        }
                        else
                        {
                            if (plan.Professional == "Yes")
                            {
                                <li>@plan.Feature</li>
                            }
                            else
                            {
                                <li><i class="icon ion-close"></i></li>
                            }
                        }
                    } 

                    </ul><!-- pricing-list -->

                    @if (Model.Tenant.PlanTypeId != Plans.PremiumPlus)
                    {
                        <a href="@Url.Action("entry","paymentCard", new { area = "subscription", planTypeId = Plans.PremiumPlus })" class="btn btn-primary btn-pricing">Select</a>
                    }                     

                </div><!-- card-pricing-two -->
            </div><!-- col -->                  
           
        </div><!-- row -->

    </div><!-- container -->
</div><!-- slim-mainpanel -->


