@model Suftnet.Cos.Web.StripeAdapterModel

<div class="col-lg-6">
    <div class="card card-table">
        <div class="card-header">
            <div class="row row-sm">
                <div class="col-lg-6"><h6 class="slim-card-title">Active Payment Card</h6></div>             
            </div>               
               
            </div><!-- card-header -->
        <div class="table-responsive">
            <table class="table mg-b-0 tx-13">
                <thead>
                    <tr class="tx-10">
                        <th class="pd-y-5">Card Type</th>
                        <th class="pd-y-5">Expires </th>
                        <th class="pd-y-5 tx-left">Last 4 Digits</th>
                        <th class="pd-y-5 tx-center">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var card in Model.PaymentCards)
                    {
                        const string strSpacer = "&nbsp;&nbsp;";
                        <tr>
                            <td>
                                <a href="Javascript:void(0)" class="tx-inverse tx-14 tx-medium d-block">@card.Brand</a>
                            </td>

                            <td>
                                <a href="Javascript:void(0)" class="tx-inverse tx-14 tx-medium d-block">@card.ExpMonth/@card.ExpYear @Html.Raw(strSpacer) @Html.Raw(strSpacer)</a>
                            </td>

                            <td>
                                <a href="Javascript:void(0)" class="tx-inverse tx-14 tx-medium tx-left d-block"> **** **** **** @card.Last4 @Html.Raw(strSpacer)</a>
                            </td>
                            <td class="valign-middle tx-center">
                                <a href="Javascript:void(0)" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!-- table-responsive -->
    </div><!-- card -->
</div><!-- col-6 -->