@model Suftnet.Cos.Web.StripeAdapterModel
@using Suftnet.Cos.Extension;
@using System.Linq;

<div class="slim-mainpanel">

    <div class="container">

        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("index","dashboard", new { area ="subscription" } )">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Invoices</li>
            </ol>
            <h6 class="slim-pagetitle">Invoices</h6>          
        </div><!-- slim-pageheader -->   
      
        <div class="row row-sm mg-t-20">
            <div class="col-lg-12 mg-t-20 mg-lg-t-0">
                <div class="card card-table">
                    <div class="card-header">
                        <div class="row row-sm">
                            <div class="col-lg-6"><h6 class="slim-card-title">Latest Invoices</h6></div>                           
                        </div>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table mg-b-0 tx-13">
                            <thead>
                                <tr class="tx-10">
                                    <th class="pd-y-5">Created At</th>
                                    <th class="pd-y-5">Status</th>
                                    <th class="pd-y-5">Start Period</th>
                                    <th class="pd-y-5">End Period</th>
                                    <th class="pd-y-5">Total</th>

                                    @if (Model.Settings.TaxRate != null)
                                    {
                                        <th class="pd-y-5">Tax(@Math.Round((double)Model.Settings.TaxRate, 2)%)</th>
                                    }
                                    else
                                    {
                                        <th class="pd-y-5">Tax</th>
                                    }

                                    <th class="pd-y-5">Amount Due</th>
                                    <th class="pd-y-5 tx-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Invoices.Any())
                                {
                                    foreach (var invoice in Model.Invoices)
                                    {
                                <tr>
                                    <td>
                                        <a href="" class="tx-inverse tx-14 tx-medium d-block">@invoice.Date.Value.ToString("d MMM yyyy")</a>
                                    </td>
                                    <td>

                                        @if (invoice.Paid == true)
                                        {
                                            <a href="" class="tx-center">Paid</a>
                                        }
                                        else
                                        {
                                            <a href="" class="tx-center">Not Paid</a>
                                        }

                                    </td>
                                    <td>@invoice.PeriodStart.Value.ToShortDateString() </td>
                                    <td>@invoice.PeriodEnd.Value.ToShortDateString() </td>
                                    <td>
                                        @{
                                            if (invoice.Subtotal < 0)
                                            {
                                                var subtotal = ((long)invoice.Subtotal / 100);
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatNegativeCurrency(Math.Abs(subtotal))</a>
                                            }
                                            else
                                            {
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatCurrency((decimal)invoice.Subtotal / 100)</a>
                                            }
                                        }

                                    </td>
                                    <td>
                                        @{
                                            if (invoice.Tax < 0)
                                            {
                                                var subtotal = ((long)invoice.Tax / 100);
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatNegativeCurrency(Math.Abs(subtotal))</a>
                                            }
                                            else
                                            {
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatCurrency((decimal)invoice.Tax / 100)</a>
                                            }
                                        }

                                    </td>
                                    <td>
                                        @{
                                            if (invoice.AmountDue < 0)
                                            {
                                                var subtotal = ((long)invoice.AmountDue / 100);
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatNegativeCurrency(Math.Abs(subtotal))</a>
                                            }
                                            else
                                            {
                                                <a href="" class="tx-inverse tx-14 tx-medium d-block">@Html.FormatCurrency((decimal)invoice.AmountDue / 100)</a>
                                            }
                                        }

                                    </td>
                                    <td class="valign-middle tx-center">
                                        <a href="@invoice.Hosted_invoice_url" target="_blank" class="tx-gray-600 tx-24"><i class="icon ion-android-more-horizontal"></i></a>
                                    </td>
                                </tr>
                                  }
                            }                    

                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div><!-- card -->
            </div><!-- col-6 -->
        </div>

    </div><!-- container -->
</div><!-- slim-mainpanel -->
