@using Suftnet.Cos.Common
@model List<Suftnet.Cos.DataAccess.SalesOrderDetailsDtoWrapper>

@{
    ViewBag.Title = "SUFTNET  | KITCHEN";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";

    <meta http-equiv="refresh" content="15">
}

  <!-- main container -->
<div class="main_container">

    <!-- pin element 1 -->   
       
           @foreach (var _item in Model)
           {
                <div class="kitchenpin" id="@_item.SalesOrderId">
                    <div class="holder">
                    <table class="table" id="orderTable" style="margin-top:5px; width:100%" border="1">
                        <thead>
                            <tr>
                                <td style="width:35%; text-align:left">OrderId#</td>
                                <td style="width:35%; text-align:left">Order Type</td>
                                <td style="width:35%; text-align:left">Table</td>
                                
                            </tr>
                            <tr>
                                <td style="width:25%; text-align:left">@_item.SalesOrderId</td>

                                @if (_item.OrderTypeId == (int)OrderType.Bar)
                                {
                                    <td style="width:25%; background-color:#00b359; color:#ffffff; text-align:left">@_item.OrderType</td>
                                }
                                else if (_item.OrderTypeId == (int)OrderType.Takeway)
                                {
                                    <td style="width:25%; background-color:#997300; color:#ffffff; text-align:left">@_item.OrderType</td>
                                }
                                else if (_item.OrderTypeId == (int)OrderType.DineIn)
                                {
                                    <td style="width:25%; background-color:#336699; color:#ffffff; text-align:left">@_item.OrderType</td>
                                }                                 
                                
                                <td style="width:25%; text-align:left">@_item.Table</td>
                            
                            </tr>
                        </thead>

                    </table>

                        <table class="table" id="orderTable" style="margin-top:1px; table-layout :fixed; width:100%" border="1">
                            <thead>
                                <tr>
                                    <th style="width:70%; text-align:left">Item Name</th>
                                    <th style="text-align:left">Quantity</th>
                                </tr>
                            </thead>

                            @foreach (var item in _item.SalesOrderDetails)
                            {
                                <tbody>
                                    <tr style="background-color:white">
                                        <td style="width:25%; word-wrap:break-word; text-align:left">@item.Title</td>
                                        <td style="text-align:left">@item.Quantity</td>
                                    </tr>
                                </tbody>
                            }

                        </table>

                        @if (!string.IsNullOrEmpty(_item.Note))
                        {                            
                            <table class="table" style="margin-top:1px; table-layout :fixed; width:100%" border="1">
                               
                                <thead>
                                    <tr>
                                        <th style="width:99%; background-color:grey; word-wrap:break-word; text-align:left">Note</th>                                       
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr style="background-color:white">
                                        <td style="width:99%; text-align:left">@_item.Note</td>
                                    </tr>
                                </tbody>

                            </table>
                        }                        

                    <button id="btnSaveChanges" orderId="@_item.SalesOrderId" style="margin-top :10px; margin-bottom:10px;" type="button" class="button">Submit</button>

                </div>
                </div>
           }           

</div>

@section scripts{

    <script type="text/javascript">

    $(function () {
                
        $('.main_container').masonry({           
            itemSelector: '.pin',
            isAnimated: true,
            isFitWidth: true
        });

        $(".kitchenpin").on("click", "button", function (e) {

            e.preventDefault();       
       
            js.ajaxPost('@Url.Action("Update", "Kitchen")', { Id: $(this).attr("orderId") }).then(
              function (data) {

              });

            $("#" + $(this).attr("orderId")).remove();
        });

    });

    </script>
}






