<table id="tblMenu" class="display" style="width:100%">
    <thead>
        <tr>
            <th align="left">CreatedAt</th>
            <th align="left">Category</th>
            <th align="left">Name</th>
            <th align="left">Unit</th>
            <th align="left">Quantity</th>
            <th align="left">Price</th>
            <th align="left">Active</th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="hide">
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "menu")"></span>
    <span id="editUrl" name="editUrl" data-editUrl="@Url.Action("edit", "menu")"></span>
    <span id="imagePathUrl" name="imagePathUrl" data-imagePathUrl="@Url.Content("~/content/photo/menu/216x196/")"></span>
    <span id="defaultImageUrl" name="defaultImageUrl" data-defaultImageUrl="@Url.Content("~/content/photo/menu/blank.png")"></span>
    <span id="createUrl" name="createUrl" data-createUrl="@Url.Action("create", "menu")"></span>
    <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("delete", "menu")"></span>
    <span id="uploadUrl" name="uploadUrl" data-uploadUrl="@Url.Action("upload", "menu")"></span>
    <span id="addonUrl" name="addonUrl" data-addonUrl="@Url.Action("entry", "addon")"></span>
</div>




