@using Suftnet.Cos.Extension
@model List<Suftnet.Cos.DataAccess.TableDto>
 
<table id="tdTable" class="display">
    <thead>
        <tr>
            <th align="left">Id#</th>           
            <th align="left">Number</th>
            <th align="left">Size</th>
            <th align="left">Active</th>
            <th style="text-align:center">Actions</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var _item in Model)
        {
            <tr id="@_item.Id">
                <td align="left">@_item.Id</td>         
                <td align="left">@_item.Number</td>    
                <td align="left">@_item.Size</td>          
                <td>@_item.Active</td>
                <td style="text-align:center">
                    <a>
                        <span id="Edit" style="margin:10px;" editid="@_item.Id" title="Edit this row">
                            <img src="@Url.Asset("edit.png")" alt="" />
                        </span>
                    </a>
                    <a>
                        <span id="Delete" style="margin:10px;" deleteid="@_item.Id" title="Delete this row">
                            <img src="@Url.Asset("delete.png")" alt="" />
                        </span>
                    </a>
                </td>
            </tr>
        }
       
    </tbody>
</table> 

<script type="text/javascript">

    $(function () {

        $(document).on("click","#Delete", function (e) {

            e.preventDefault();

            js.confirm('@Url.Action("Delete", "Table", new { area = "BackOffice" })', { Id: $(this).attr("deleteid") }, $(this).attr("deleteid"), "#tdTable");
        });

        $(document).on("click", "#Edit", function (e) {

            e.preventDefault();
          
            js.ajaxGet('@Url.Action("Get", "Table", new { area = "BackOffice" })', { Id: $(this).attr("editid") }).then(
            function (data) {

                var dataobject = data.dataobject;

                $("#Number").val(dataobject.Number);
                $("#Size").val(dataobject.Size);                
                $("#Id").val(dataobject.Id);       
                $("#Active").attr('checked', dataobject.Active);

            });
        });       

        suftnet_Settings.TableInit('#tdTable', [0, 3, 4]);
    });

</script>
