<div id="left_menu">
    <ul id="main_menu" class="main_menu">
        <li class="limenu"><a href="@Url.Action("index", "dashBoard")" class="tooltip" title="DashBoard"><span class="ico gray shadow home"></span><b>DashBoard</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "user")" class="tooltip" title="User"><span class="ico gray  administrator"></span><b>Users</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "template")" class="tooltip" title="Template"><span class="ico gray  notepad"></span><b>Templates</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "lookup")" class="tooltip" title="Lookup"><span class="ico gray  binoculars"></span><b>Look up</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "tour")" class="tooltip" title="Tour"><span class="ico gray  cloud2"></span><b>Tours</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "plan")" class="tooltip" title="Plan"><span class="ico gray  contrast"></span><b>Plans</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "chapter")" class="tooltip" title="Chapter"><span class="ico gray  paragraph_align_left"></span><b>Chapters</b></a></li>
        <li class="limenu"><a href="@Url.Action("index", "faq")" class="tooltip" title="Faq"><span class="ico gray  file"></span><b>Faqs</b></a></li>
    </ul>
</div>
          
