<table id="tblCategory" class="display" style="width:100%">
    <thead>
        <tr>
            <th align="left">Avatar</th>
            <th align="left">Sort Order</th>
            <th align="left">Name</th>    
            <th align="left">Active</th>
            <th style="text-align:center">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="hide">
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "category")"></span>
    <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("delete", "category")"></span>
    <span id="editUrl" name="editUrl" data-editUrl="@Url.Action("edit", "category")"></span>
    <span id="createUrl" name="createUrl" data-createUrl="@Url.Action("create", "category")"></span>
    <span id="uploadUrl" name="uploadUrl" data-photoUrl="@Url.Action("upload", "category")"></span>
    <span id="imagePath" name="imagePath" data-imagePath="@Url.Content("~/Content/photo/category/32x32/")"></span>
    <span id="defaultImagePath" name="defaultImagePath" data-defaultImagePath="@Url.Content("~/Content/photo/category/Blank.jpg")"></span>
    <span id="buttonText" name="buttonText">Add Image</span>   
</div>
