<div id="left_menu">
    <ul id="main_menu" class="main_menu ">  
        <li class="limenu"><a href="@Url.Action("Index", "dashBoard")" class="" title="DashBoard"><span class="ico gray shadow home"></span><b>DashBoard</b></a></li>          
        <li class="limenu"><a href="@Url.Action("index", "member")" class="" title="Member"><span class="ico gray  user" ></span><b>Member</b></a></li>
        <li class="limenu"><a href="@Url.Action("Index", "smallGroup")" class="" title="Group" ><span class="ico gray  group"></span><b>Group</b></a></li>
        <li class="limenu"><a href="@Url.Action("Index", "attendance")" class="" title="Attendance"><span class="ico gray  diary" ></span><b>Attendance</b></a></li>
        <li class="limenu"><a href="@Url.Action("Index", "fellowship")" class="" title="Fellowship"><span class="ico gray  cabinet"></span><b>Fellowship</b></a></li>
        <li class="limenu"><a href="@Url.Action("Index", "giving")" class="" title="Gving"><span class="ico gray  money_bag"></span><b>Gving</b></a></li>              
        <li class="limenu"><a href="@Url.Action("Index", "event")" class="" title="Event"><span class="ico gray  calendar"></span><b>Event</b></a></li>    
        <li class="limenu"><a href="@Url.Action("Index", "report")" class="" title="Reports"><span class="ico gray  record" ></span><b>Reports</b></a></li>                                                 
    </ul>
</div>
          
