@using Suftnet.Cos.Extension

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>SUFTNET | POINT OF SALES</title>
    
    <!-- jQuery AND jQueryUI -->

    <link rel="shortcut icon" type="image/ico"
          href="@Url.Content("~/Content/ui-asset/images/favicon2.ico")" />
    <link href="@Url.Content("~/Scripts/UploadiFive/uploadifive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/ui-asset/components/datatables/dataTables.css")"
          rel="stylesheet" type="text/css" />
       
    @Styles.Render("~/Content/ui-asset/css/ziceui")    
    @Styles.Render("~/Content/css/custom")  
    @Styles.Render("~/bundle/perfectscrollbar")
    @Styles.Render("~/bundle/font-awesome")
    @*@Styles.Render("~/bundle/zebra-tooltips")*@

    @Scripts.Render("~/bundle/jquery")   
      
</head>

<body class="dashborads">
    <div id="alertMessage" class="error"></div>
    <!-- Header -->
    @Html.Partial("_Orderheader")
    <!-- End Header -->
    <div id="shadowhead"></div>
    <!-- Menu -->
    <!-- End Menu -->

    <div id="contents">
        <div class="inners">
            <div style="margin-top:20px"></div>
            <div class="clear"></div>

            @RenderBody()

        </div>
    </div>

    <div id="InvoiceDialog" style="display :none">
        <iframe id="ifInvoice" style="width:100%; height:550px"></iframe>
    </div>

    @RenderSection("scripts", required: false)
   
    <div class="hideme">
        <span id="sprint" name="sprint" data-sprint="@Url.Content("~/Content/Loading-Spinner-Sprite/img/sprites2.png")"></span>
        <span style="display :none" id="currencySymbol">@this.ToCurrencyCodeSymbol()</span>
    </div> 

    <script type="text/javascript"
            src="@Url.Content("~/Content/Loading-Spinner-Sprite/jquery.preloaders.min.js")"></script>  
  
    @Scripts.Render("~/bundle/ui-asset/components")
    @Scripts.Render("~/bundle/restaurant")
    @Scripts.Render("~/bundle/zebra_tooltips_js")
    @Scripts.Render("~/bundle/confirmDialog-js")

    @Html.Partial("_directlinks")    
  
    @Scripts.Render("~/bundle/lib")   
    @Scripts.Render("~/bundle/ajax")
    @Scripts.Render("~/bundle/common") 
  
    @Scripts.Render("~/bundle/viewModelRestaurant")
 
    <script type="text/javascript">

        new $.Zebra_Tooltips($('.tooltip'), {
            position: 'right',
            animation_speed: '10',
            max_width: 600,
            animation_offset: 20
        });       
      
        suftnet_Settings.SetCurrencySymbol($("#currencySymbol").text());
        suftnet_Settings.SetDateTimeFormat('@Url.GetDateTimeformat()');
        suftnet_Settings.ValidatorListner();
        suftnet_Settings.SetCalendarIcon('\/Content/ui-asset/images/icon/color_18/');
        suftnet_Settings.SetImageAssetUrl('\/Content/Photo/Category/32x32/');
        suftnet_Settings.Init();

    </script>

</body>
</html>

