@using Suftnet.Cos.Extension

@model List<Suftnet.Cos.DataAccess.CategoryDto>
 
<table id="tdCategory" class="display">
    <thead>
        <tr>
            <th align="left">Id#</th>
            <th align="left">Avatar</th>
            <th align="left">Sort Order</th>
            <th align="left">Name</th>
            <th align="left">Active</th>
            <th style="text-align:center">Actions</th> 
        </tr>
    </thead>
    <tbody>

        @foreach (var _item in Model)
        {
            <tr id="@_item.Id">              
                <td align="left">@_item.Id</td>
                <td align="left">

                    @if (!string.IsNullOrEmpty(_item.ImageUrl))
                    {
                        <img src="@Url.ImageAsset(_item.ImageUrl)" width="32px" height="32px" alt="" />
                    }
                    else
                    {
                        <img src="@Url.ImageAsset("Blank.jpg")" width="32px" height="32px" alt="" />
                    }

                </td>

                <td align="left">@_item.IndexNo</td>
                <td align="left">@_item.Name</td>
                <td align="left">@_item.Status</td>                
                <td style="text-align:center">
                    <a href="javascript:void(0)">
                        <span style="margin:10px;" id="Edit" editid="@_item.Id" title="Edit this row">
                            <img src="@Url.Asset("edit.png")" alt="" />
                        </span>
                    </a>
                    <a href="javascript:void(0)">
                        <span id="Delete" style="margin:10px;" deleteid="@_item.Id" title="Delete this row">
                            <img src="@Url.Asset("delete.png")" alt="" />
                        </span>
                    </a>

                </td>
            </tr>
        }  
       
    </tbody>
</table> 

<script type="text/javascript">

    $(function () {

        $(document).on("click", "#Delete", function (e) {
          
            e.preventDefault();

            js.confirm('@Url.Action("Delete", "Category")', { Id: $(this).attr("deleteid") }, $(this).attr("deleteid"), "#tdCategory").then(
                function (data) {

                });
        });

        $(document).on("click", "#Edit", function (e) {

            e.preventDefault();
           
            js.ajaxGet('@Url.Action("Get", "Category")', { Id: $(this).attr("editid") }).then(
            function (data) {

                var dataobject = data.dataobject;

                $("#Name").val(dataobject.Name);
                $("#IndexNo").val(dataobject.IndexNo);

                if (dataobject.ImageUrl != null) {
                    $("#ImageUrl").val(dataobject.ImageUrl);               
                }
                              
                $("#Description").val(dataobject.Description);
                $("#Id").val(dataobject.Id);
                $("#Status").attr('checked', dataobject.Status);

            });
        });      

        suftnet_Settings.TableInit('#tdCategory', [0, 2, 3, 4,5]);        
    });

 </script>
