@using Suftnet.Cos.Extension
@{      
    Layout = "~/Areas/Subscription/Views/Shared/maviaLayout.cshtml";
    ViewBag.Title = "SUFTNET | CREATE PAYMENT CARD ";
}

<main>
    <div id="form_container">
        <div class="row">
            <div class="col-md-5">
                <div id="left_form">
                    <figure class="text-center"><img src="@Url.SlimImage("icons8-visa-128.png")" alt=""></figure>
                    <h2 class="text-center">Note</h2>
                    <p class="text-center">Our payment transaction is exclusively manage by Stripe, meaning none of your card information is store on our server. To learn more about Stripe <a style="color:black" href="https://stripe.com" target="_blank">click here</a> </p>
                    <a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>    
                </div>

            </div>
            <div class="col-md-7">
                <div id="wizard_container">
                    <form name="form-checkout" id="form-checkout" method="post" action="@Url.Action("Create", "PaymentCard", new { area = "Subscription" })" autocomplete="off">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard">
                            <div class="submit step">
                                <h3 class="main_question"><strong></strong>Payment Information</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="cc-number" class="control-label">Card Number</label>
                                            <input id="cc-number" type="tel" class="form-control cc-number required" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required maxlength="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label">Expired Date </label>
                                            <input id="cc-exp" type="tel" class="form-control cc-exp required" autocomplete="cc-exp" placeholder="MM / YY" required maxlength="7">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cc-cvc" class="control-label">CVC </label>
                                            <input id="cc-cvc" type="tel" class="form-control cc-cvc required" autocomplete="off" placeholder="•••" required maxlength="3">
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-danger hide">
                                    <strong>Error! </strong><span></span>
                                </div>
                                <button name="btnSubmit" id="btnSubmit" class="submit pull-right">Submit</button>
                                <a href="@Url.Action("index","dashboard", new { area ="subscription" } )" class="back pull-right">Backward</a>
                            </div>

                            <div class="mb-50"></div>
                            <p class="f-small">Our payment transaction is exclusively manage by Stripe, meaning none of your card information is store on our server. To learn more about Stripe click here Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus ta</p>

                        </div>
                       
                        <div class="hide">
                            <span id="confirmationUrl" name="confirmationUrl" data-confirmationUrl="@Url.Action("index", "Dashboard", new { area = "Subscription" })"></span>
                            <span id="spriteUrl" name="spriteUrl" data-spriteUrl="@Url.SpriteUrl("sprites2.png")"></span>
                        </div>
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
        </div><!-- /Row -->
    </div><!-- /Form_container -->
    <div class="hide" id="map-item"></div>
    <div class="modal fade" id="more-info" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="more-infoLabel">Frequently asked questions</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in <strong>nec quod novum accumsan</strong>, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus. Lorem ipsum dolor sit amet, <strong>in porro albucius qui</strong>, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                    <p>Lorem ipsum dolor sit amet, in porro albucius qui, in nec quod novum accumsan, mei ludus tamquam dolores id. No sit debitis meliore postulant, per ex prompta alterum sanctus, pro ne quod dicunt sensibus.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn_1" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>


@Html.Partial("_stripe")

@Scripts.Render("~/bundle/LoadingSpinnerSprite")
@Scripts.Render("~/bundle/lib")
@Scripts.Render("~/bundle/checkout")
@Scripts.Render("~/bundle/ajax")

<script type="text/javascript">

    $(function ()
    {
        checkout.init();
    });

</script>

