@using Suftnet.Cos.Extension;

<form action="@Url.Action("Index", "Report")" method="post"  id="form">
 <div class="forms" >        
     
    <div class="grid-3-12"> 
        
         <label class="forms-lbl">Report Type: </label>
          <select  name="ReportTypeId" id="ReportTypeId" class="validate[required]" >
              <option value="277">Sales</option>   
              <option value="276">Menu</option>             
              <option value="2663">Order</option>          
              <option value="2664">Best Sellers</option>      
          </select>          
     </div>   

     <div class="clear" ></div>        
            
     <div id="dUserName" class="grid-3-12">
         <label class="forms-lbl"> UserName: </label>
         @Html.UserDropdown("UserId", "")
     </div>          

     <div class="clear"></div>

     <div id="dOrderType" class="grid-3-12">
         <label class="forms-lbl"> OrderType: </label>      
         <select name="OrderTypeId" id="OrderTypeId" class="validate[required]">
             <option value="">-- SELECT --</option>
             <option value="7319">Dine In</option>
             <option value="7320">Bar</option>
             <option value="7321">Take Away</option>
             <option value="7322">Reservation</option>            
         </select> 
     </div>

     <div id="dStatus" class="grid-3-12">
         <label class="forms-lbl"> Status: </label>
         @Html.Dropdown("StatusId", "validate[required]", (int)Suftnet.Cos.Common.eSettings.OrderStatus)
     </div>

     <div class="clear">
     </div>         

     <div id="dStartDate" class="grid-3-12">
         <label class="forms-lbl">Start Date:</label>
         <input type="text" name="StartDate" id="StartDate" class="forms-txt-date validate[required]" maxlength="9" />
     </div>

     <div id="dEndDate" class="grid-3-12">
         <label class="forms-lbl">End Date:</label>
         <input type="text" name="EndDate" id="EndDate" class="forms-txt-date validate[required]" maxlength="9" />
     </div>

     <div class="clear">
      </div> 
                
     <div class="grid-12-12">

         <ul style="margin-left:1px; margin-top :0px" class="uibutton-group">
             <li><span class="etip"><a class="uibutton normal" id="btnSubmit" title="Submit">Submit</a></span></li>
             <li><span class="etip"><a class="uibutton normal " id="btnClear" title="Clear">Clear</a></span></li>
         </ul>
     </div>  
</div>
      
<input type="hidden" name="Currency" id="Currency" value="@this.ToCurrencyCodeSymbol()" />
  
</form>   

<script type="text/javascript" >

$(function () {     
        
    $("#dStartDate").hide();
    $("#dEndDate").hide();   
    $("#dUserName").hide();
    $("#dOrderType").hide();
    $("#dStatuse").hide();
        
    $("#ReportTypeId").val($.cookie("ReportTypeId"));       
    $("#StartDate").val($.cookie("StartDate"));
    $("#EndDate").val($.cookie("EndDate"));
    $("#OrderTypeId").val($.cookie("OrderTypeId"));
    $("#StatusId").val($.cookie("StatusId"));

    $("#StartDate").datepicker({
        showOn: "button",
        buttonImage: suftnet_Settings.icon + "calendar.png",
        buttonText: "Open datepicker",
        dateFormat: suftnet_Settings.dateTimeFormat,
        buttonImageOnly: true
    });

   $("#EndDate").datepicker({
        showOn: "button",
        buttonImage: suftnet_Settings.icon + "calendar.png",
        buttonText: "Open datepicker",
        dateFormat: suftnet_Settings.dateTimeFormat,
        buttonImageOnly: true
    });

    $("#btnSubmit").click(function () {

        $.cookie("ReportTypeId", $("#ReportTypeId").val(), { expires: 7, path: "/" });        
        $.cookie("StartDate", $("#StartDate").val(), { expires: 7, path: "/" });
        $.cookie("EndDate", $("#EndDate").val(), { expires: 7, path: "/" });
        $.cookie("OrderTypeId", $("#OrderTypeId").val(), { expires: 7, path: "/" });
        $.cookie("StatusId", $("#StatusId").val(), { expires: 7, path: "/" });

        if (!suftnet_validation.isValid("form")) 
        {
            return false;
        }

        $("#form").submit();
    });

    $("#ReportTypeId").change(function () {

        CurrentReport($("#ReportTypeId").val());  
    });

    if ($("#ReportTypeId").val() > 0) {

        CurrentReport($("#ReportTypeId").val());
    }                   

    $("#btnClear").click(function () {
          
        $("#dStartDate").show();
        $("#dEndDate").show();       
        $("#dUserName").show();
        $("#dOrderType").hide();
        $("#dStatus").hide();

        $("#EndDate").val('');
        $("#StartDate").val('');
        $("#ReportTypeId").val(0);
        $("#StatusId").val(0);
        $("#OrderTypeId").val(0);
              
        $.cookie("ReportTypeId", 0, { expires: 7, path: "/" });
        $.cookie("StartDate", '', { expires: 7, path: "/" });
        $.cookie("EndDate", '', { expires: 7, path: "/" });
        $.cookie("OrderTypeId", '', { expires: 7, path: "/" });
        $.cookie("StatusId", '', { expires: 7, path: "/" });

    });
});

function CurrentReport(Id) {

    switch (parseInt(Id)) {
    
        case 276: //// Menu    
        case 543:
        case 452:

            $("#dStartDate").hide();
            $("#dEndDate").hide();         
            $("#dUserName").hide();
            $("#dOrderType").hide();
            $("#dStatus").hide();

            break;

        case 277: //// Sales                

            $("#dStartDate").show();
            $("#dEndDate").show();
            $("#dUserName").show();
            $("#dOrderType").hide();
            $("#dStatus").hide();

            break;

        case 2663: //// Orders                

            $("#dStartDate").show();
            $("#dEndDate").show();
            $("#dOrderType").show();
            $("#dStatus").show();
            $("#dUserName").hide();

            break;

        case 2664: //// Best Sellers                

            $("#dStartDate").show();
            $("#dEndDate").show();
            $("#dOrderType").hide();
            $("#dStatus").hide();
            $("#dUserName").hide();

            break;

        default:
    }  
}

</script>
<script src="@Url.Content("~/Content/ui-asset/js/jquery.cookie.js")" type="text/javascript"></script>


