@{
    ViewBag.Title = "SUFTNET | SETTINGS";
}

@Styles.Render("~/bundle/baze-css")

<div id="settingsContanier" style="display :none">

    <ul class="tabs">
        <li><a href="#tab1">Profile </a></li>
        <li><a href="#tab2">About us </a></li>       
    </ul>

    <form action="@Url.Action("Edit", "Settings")" method="post" id="form">

        @Html.AntiForgeryToken()

        <input type="hidden" id="CurrencyCode" name="CurrencyCode" />
        <input type="hidden" id="LogoUrl" name="LogoUrl" />
        <input type="hidden" id="BackgroundUrl" name="BackgroundUrl" />
        <input type="hidden" id="Id" name="Id" value="c7a037e8-3045-4996-9e02-1794e08622c6" />
        <input type="hidden" id="Latitude" name="Latitude" />
        <input type="hidden" id="Longitude" name="Longitude" />
        <input type="hidden" id="AddressId" name="AddressId" />
        <input type="hidden" id="StatusId" name="StatusId" />

        <div class="tab_container">

            <div id="tab1" class="tab_content">

                <div class="oneTwo">

                    <div class="widget">
                        <div class="header">
                            <span>
                                <span class="ico gray window" title=""></span>General
                            </span>
                        </div>
                        <div class="content">
                            @Html.Partial("_general")
                        </div>
                    </div>

                    <div class="widget">
                        <div class="header"><span><span class="ico gray window"></span>Delivery </span></div>
                        <div class="content">
                            @Html.Partial("_delivery")
                        </div>
                    </div>

                    <div class="widget">
                        <div class="header"><span><span class="ico gray window"></span>Address </span></div>
                        <div class="content">
                            @Html.Partial("_address")
                        </div>
                    </div>
                </div>

                <div class="oneTwo">

                    <div class="widget">
                        <div class="header"><span><span class="ico gray window"></span>Profile </span></div>
                        <div class="content">
                            @Html.Partial("_profile")
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab2" class="tab_content">
                <div class="widgets">
                    @Html.Partial("_aboutus")
                </div>
            </div>

        </div>

        <br />
        <input name="Publish" id="Publish" type="checkbox" /><label class="form-lbl">Publish in Jerur Directory</label>

        <input name="PushNotification" id="PushNotification" type="checkbox" /> <label class="form-lbl">Push Notification</label>
        <div class="clear"></div><br />
        <span class="etip" title="Save Changes"><a class="uibutton normal padding-top" id="btnSaveChanges" title="Save Changes">Save Changes</a></span>

    </form>
    
</div>

@Html.Partial("_settingsScripts")

