
@using Suftnet.Cos.Common;
@using Suftnet.Cos.Extension;

 <form action="@Url.Action("Create", "Permission")" method="post"  id="form">   
     <div class="forms">
      
         @Html.AntiForgeryToken()
         <input id="ExternalId" name="ExternalId" value="@this.ViewContext.RouteData.Values["queryString"].ToString()" type="hidden" />
         <input type="hidden" name="Id" id="Id" value="c7a037e8-3045-4996-9e02-1794e08622c6" />

         <div class="grid-6-12">
             <label class="forms-lbl">Page: </label>
             @Html.Dropdown("ViewId", "validate[required]", (int)eSettings.View)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Create: </label>
             @Html.Dropdown("Create", "validate[required]", (int)eSettings.Permission)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Edit: </label>
             @Html.Dropdown("Edit", "validate[required]", (int)eSettings.Permission)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Delete: </label>
             @Html.Dropdown("Remove", "validate[required]", (int)eSettings.Permission)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Read: </label>
             @Html.Dropdown("Get", "validate[required]", (int)eSettings.Permission)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Read All: </label>
             @Html.Dropdown("GetAll", "validate[required]", (int)eSettings.Permission)
         </div>

         <div class="grid-12-12">
             <ul style="margin-left:0px; margin-top :0px" class="display01">
                 <li class="display01"><span class="etip"><a class="uibutton normal " id="btnSaveChanges" title="Save Changes">Save Changes</a></span></li>
             </ul>
         </div>

     </div>   
   
</form>








