@using Suftnet.Cos.Extension

 <form action="@Url.Action("Create", "Menu")" method="post"  id="form"> 

 <div class="forms" >      
   <input id="Id" name="Id" type="hidden" value="0" />   
   <input type="hidden" id="ImageUrl" name="ImageUrl" /> 
             
     <div class="grid-6-12">
         <label class="forms-lbl">Category: </label>
         @Html.CategoryDropdown("CategoryId", "validate[required]", Url.TenantId())
     </div> 

     <div class="grid-6-12">
          <label class="forms-lbl">Item Name: </label>
          <input type="text" name="Name" id="Name" class="forms-txt validate[required]" size="50" autocomplete="off" maxlength="50" />
     </div>    
     
     <div class="clear"></div>
           
       <div class="grid-6-12">                
           <label class="forms-lbl">Tax: </label>       
           @Html.TagDropdown("TaxId", "validate[required]", (int)Suftnet.Cos.Common.eSettings.Tax)
        
        </div>     
       
       <div class="grid-6-12">
           <label class="forms-lbl">Unit: </label>
           @Html.TagDropdown("UnitId", "validate[required]", (int)Suftnet.Cos.Common.eSettings.Unit)
       </div>   

     <div class="clear"></div>
    
        <div class="grid-6-12">                
              <label class="forms-lbl">Price: </label>
              <input type="text" name="Price" id="Price" onkeyup="numonly(this);" class="forms-txt validate[required]" size="9"  maxlength="9" />                
        </div>       
          
         
         <div class="grid-6-12">                
              <label class="forms-lbl">Quantity: </label>
              <input type="text" name="Quantity" id="Quantity" onkeyup="numonly(this);" class="forms-txt validate[required, custom[number]]" size="9"  maxlength="9" />                
        </div>  

        <div class="clear"></div>
    
        <div class="grid-6-12">                
             <label class="forms-lbl">Adjust Quantity: </label>            
             @Html.Dropdown("SubStractId", "validate[required]", (int)Suftnet.Cos.Common.eSettings.Substract)                             
        </div>

        <div class="grid-6-12">
             <label class="forms-lbl">CutOff: </label>
             <input type="text" name="CutOff" id="CutOff" onkeyup="numonly(this);" class="forms-txt validate[required, custom[number]]" size="9" maxlength="9" />   
        </div>        
              
        <div class="clear"></div>               
   
        <div class="grid-12-12">                
           <label class="forms-lbl">Description: </label>  
           <div style="margin:5px;"></div>
           <textarea id="Description" name="Description" rows="" cols="" onkeypress="return imposeMaxLength(event, this, 490);" class="form-txt positionrequired"></textarea>                         
        </div>     

     <div class="grid-12-12">
           <input name="IsKitchen" id="IsKitchen" type="checkbox" /> <label class="form-lbl">Process In kitchen </label>
     </div> 
               
     <div class="grid-12-12">
         <input name="Active" id="Active" type="checkbox" /> <label class="form-lbl">Active </label>
     </div>

     <div class="grid-12-12">
         <ul class="display">
             <li class="display"><span class="etip"><a class="uibutton normal " id="btnSubmit" title="Save Changes">Save Changes</a></span></li>            
         </ul>
     </div>  
</div>   

</form>

<script type="text/javascript" >

    $(function () {     
        __menu.create();       
    });

</script>