@{
    ViewBag.Title = "SUFTNET | USER ";   
}

<ul style="margin-left:2px; margin-top :5px" class="uibutton-group">
    <li><span class="etip"><a href="@Url.Action("Index","Tenant")" class="uibutton icon prev normal" title="Back to Tenant">Back</a></span></li>
</ul>

<div id="MainCollapsible" style="display:none">

    <h6><a href="#">Profile</a></h6>
    <div>

        <div class="widgets">

            <div class="oneTwo">
                <div id="MainCollapsibleLeft">

                    <h6><a href="#">Details</a></h6>
                    <div>
                        @Html.Partial("_form")
                    </div>

                </div>
                <div class="clear"></div>
            </div>

            <div class="oneTwo" style="margin-left:20px">

                <div id="MainCollapsibleRight">

                    <h6><a href="#">Photo</a></h6>
                    <div class="widget">
                        @Html.Partial("_photo")
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>

    <h6><a href="#">Viewer</a></h6>
    <div>
        <div class="widget">
            <div class="header"><a href="Javascript:void(0)" id="btn-001" name="btn-001"><span><span class="ico gray cross"></span></span></a></div>
            <div class="content">
                @Html.Partial("_load")
            </div>
        </div>
    </div>

</div>

<div id="resetPasswordDialog" style="display:none">
    <div class="widget">
        <div class="header"><span><span class="ico  gray window"></span></span></div>
        <div class="content">
            @Html.Partial("_resetPassword")
        </div>
    </div>
</div>

@Html.Partial("_collapsible")
@Scripts.Render("~/bundle/70000")

<script type="text/javascript">
    $(function () {

        userAdmin.pageInit();

        setTimeout(function () {
            $(".widgets").show();
        }, 0);
    });
</script>





