@using Suftnet.Cos.Common;
@using Suftnet.Cos.Extension;

<form action="@Url.Action("Create", "Ticket")" method="post"  id="ticketform">

 <div class="forms" >      

   <input id="Id" name="Id" type="hidden" />        
                 
     <div style="width:50%; margin-left:7px;">

         <div class="grid-12-12">
             <label class="forms-lbl">Subject: </label>
             <input type="text" name="Subject" id="Subject" class="forms-txt validate[required]" maxlength="50" />
         </div>  
         
         <div class="grid-6-12">
             <label class="forms-lbl">Department: </label>
             @Html.Dropdown("DepartmentId", "validate[required]", (int)eSettings.Department)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Priority: </label>
             @Html.Dropdown("PriorityId", "validate[required]", (int)eSettings.Priority)             
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Status: </label>
             @Html.Dropdown("StatusId", "validate[required]", (int)eSettings.TicketStatus)
         </div>

         <div class="grid-6-12">
             <label class="forms-lbl">Created Date: </label>
             <input type="text" name="CreatedDT" id="CreatedDT" class="forms-txt-date" value="@DateTime.Today.ToShortDateString()" maxlength="50" />
         </div>

         <div class="grid-12-12">
             <label class="forms-lbl">Description</label>
             <textarea name="Note" id="Note" cols="" rows="" onkeypress="return imposeMaxLength(event, this, 1000);"></textarea>
         </div>

     </div>      

     <div class="grid-12-12">
         <ul style="margin-left:0px; margin-top :0px" class="display01">
             <li class="display01"><span class="etip"><a class="uibutton normal " id="btnSubmit" title="Save Changes">Save Changes</a></span></li>
         </ul>
     </div>      
 </div>           
        
</form>

<script type="text/javascript" >

    $(function () {

        $("#CreatedDT").datepicker({
            showOn: "button",
            buttonImage: suftnet_Settings.icon + "calendar.png",
            buttonText: "Open datepicker",
            dateFormat: suftnet_Settings.dateTimeFormat,
            buttonImageOnly: true
        });

        $("#btnSubmit").bind("click", function (event) {

            event.preventDefault();

            if (!suftnet_validation.isValid("ticketform")) {
                return false;
            }

            js.ajaxPost($("#ticketform").attr("action"), $("#ticketform").serialize()).then(
             function (data) {

                 switch (data.flag) {
                     case 1: //// add                                          

                         suftnet_grid.addTicket(data.objrow);
                         break;
                     case 2: //// update 

                         suftnet_grid.updateTicket(data.objrow);

                         $("#MainCollapsible").accordion("activate", 1);

                         break;
                     default:;
                 }

                 $("#ticketform #Id").val(0);

                 iuHelper.resetForm("#ticketform");
             });                 
            
        });      
    }); 

</script>
 




